<div class="center hero-unit">
  <h1>Welcome to the Rails Calender Application</h1>

  <h2>
    Based on the <a href="http://ruby.railstutorial.org/" target="_blank">sample application of Michael Hartl</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>